@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
body,
html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  background: url("../assets/images/beige-tiles.png");
  display: grid;
  grid-auto-rows: minmax(75px, auto);
}

/* Global css */
.container {
  width: 75%;
  height: 100%;
  margin: 5px auto;
  grid-template-rows: 51px fit-content(70%);
  display: grid;
  background-color: #ffffff;
}

/* Header */

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  float: right;
  margin-top: 30px;
}
ul li {
  display: inline;
}
ul li a {
  color: rgb(61, 73, 73);
  padding: 25px;
}
header {
  display: grid;
  grid-template-columns: fit-content(50%) auto;
  height: 100px;
  margin-bottom: 5px;
  border-bottom: 3px solid rgb(61, 73, 73);
  text-transform: uppercase;
}
header .current a {
  color: #239b56;
  font-weight: bold;
}
header a:hover {
  color: #e8491d;
  font-weight: bold;
}

#logo {
  padding-top: 15px;
  margin-left: 0px;
  margin-bottom: 5px;
  padding-right: 15px;
  color: white;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 25px;
  height: auto;
  background-color: #4aaaa5;
}
/* Aside Section */
aside {
    margin-top: 55px;
  }
  
  #about {
    color: #239b56;
  }
  

/* Section */

section#main-content {
  padding: 1em;
  border-top: 3px solid rgb(165, 170, 170);
  display: grid;
  grid-template-columns: repeat(2, auto);
  overflow: scroll;
}

#myimg {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 15px;
}


footer {
  background: #666666;
  padding: 20px;
  margin-top: 5px;
  grid-column-start: 1;
  margin-top: 10px;
  margin-bottom: 2px;
  height: 15px;
  position: fixed;
  bottom: 0;
 width: 100%;
  
}

#footer-page {
  text-align: center;
  color: white;
  /* padding-top: 20px; */
}

section#main-portfolio {
  /* background-color: #36ADAD; */
  padding: 1em;
  border-top: 3px solid rgb(165, 170, 170);
  display: grid;
  grid-template-columns: repeat(3, auto);
  overflow: scroll;
  grid-gap: 1em;
  
}
.imagename {
  background-color: #239b56;
  text-align: center;
  margin-bottom: 3px;
}
.image-1 {
  border: 2px solid salmon;
  text-align: center;
}

/* Contact Page */

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 5px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
